<a href="https://colab.research.google.com/github/jeff94069/AI_Security_2020/blob/master/pandas%20homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#minutes-to-pandas

In [12]:
import numpy as np
import pandas as pd

In [13]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [17]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -0.816249  1.546834  1.009041 -0.544093
2020-10-22 -0.423010 -0.747783  0.734423  0.453660
2020-10-23 -0.946087  0.107579 -0.338662 -0.721781
2020-10-24  0.870906  0.227956  0.727805  0.377608
2020-10-25 -0.392094 -1.477481 -0.934415 -1.379357
2020-10-26  1.721450  1.621765 -1.005550  0.474046

In [16]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20201021'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...: 
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [19]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2020-10-21 -0.816249  1.546834  1.009041 -0.544093
2020-10-22 -0.423010 -0.747783  0.734423  0.453660
2020-10-23 -0.946087  0.107579 -0.338662 -0.721781
2020-10-24  0.870906  0.227956  0.727805  0.377608
2020-10-25 -0.392094 -1.477481 -0.934415 -1.379357
2020-10-26  1.721450  1.621765 -1.005550  0.474046>

In [20]:
df.loc[dates[0]]

A   -0.816249
B    1.546834
C    1.009041
D   -0.544093
Name: 2020-10-21 00:00:00, dtype: float64

In [21]:
df.loc[:, ['A', 'B']]

                   A         B
2020-10-21 -0.816249  1.546834
2020-10-22 -0.423010 -0.747783
2020-10-23 -0.946087  0.107579
2020-10-24  0.870906  0.227956
2020-10-25 -0.392094 -1.477481
2020-10-26  1.721450  1.621765

In [22]:
df.loc['20201021':'20201023', ['A', 'B']]

                   A         B
2020-10-21 -0.816249  1.546834
2020-10-22 -0.423010 -0.747783
2020-10-23 -0.946087  0.107579

In [23]:
df.loc['20201021', ['A', 'B']]

A   -0.816249
B    1.546834
Name: 2020-10-21 00:00:00, dtype: float64

In [24]:
df.loc[dates[0], 'A']

-0.8162487665316578

In [25]:
df.at[dates[0], 'A']

-0.8162487665316578

In [26]:
df[df['A'] > 0]

                   A         B         C         D
2020-10-24  0.870906  0.227956  0.727805  0.377608
2020-10-26  1.721450  1.621765 -1.005550  0.474046

In [27]:
df[df > 0]

                   A         B         C         D
2020-10-21       NaN  1.546834  1.009041       NaN
2020-10-22       NaN       NaN  0.734423  0.453660
2020-10-23       NaN  0.107579       NaN       NaN
2020-10-24  0.870906  0.227956  0.727805  0.377608
2020-10-25       NaN       NaN       NaN       NaN
2020-10-26  1.721450  1.621765       NaN  0.474046

In [30]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2020-10-21 -0.816249  1.546834  1.009041 -0.544093    one
2020-10-22 -0.423010 -0.747783  0.734423  0.453660    one
2020-10-23 -0.946087  0.107579 -0.338662 -0.721781    two
2020-10-24  0.870906  0.227956  0.727805  0.377608  three
2020-10-25 -0.392094 -1.477481 -0.934415 -1.379357   four
2020-10-26  1.721450  1.621765 -1.005550  0.474046  three

In [32]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20201021', periods=6))
s1

2020-10-21    1
2020-10-22    2
2020-10-23    3
2020-10-24    4
2020-10-25    5
2020-10-26    6
Freq: D, dtype: int64

In [33]:
df.mean()

A    0.002486
B    0.213145
C    0.032107
D   -0.223320
dtype: float64

In [34]:
df.mean(1)

2020-10-21    0.298883
2020-10-22    0.004322
2020-10-23   -0.474738
2020-10-24    0.551069
2020-10-25   -1.045837
2020-10-26    0.702928
Freq: D, dtype: float64

In [38]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2020-10-21    NaN
2020-10-22    NaN
2020-10-23    1.0
2020-10-24    3.0
2020-10-25    5.0
2020-10-26    NaN
Freq: D, dtype: float64

In [39]:
df.sub(s, axis='index')

                   A         B         C         D
2020-10-21       NaN       NaN       NaN       NaN
2020-10-22       NaN       NaN       NaN       NaN
2020-10-23 -1.946087 -0.892421 -1.338662 -1.721781
2020-10-24 -2.129094 -2.772044 -2.272195 -2.622392
2020-10-25 -5.392094 -6.477481 -5.934415 -6.379357
2020-10-26       NaN       NaN       NaN       NaN

In [40]:
df.apply(np.cumsum)

                   A         B         C         D
2020-10-21 -0.816249  1.546834  1.009041 -0.544093
2020-10-22 -1.239259  0.799051  1.743465 -0.090433
2020-10-23 -2.185346  0.906630  1.404802 -0.812214
2020-10-24 -1.314441  1.134586  2.132607 -0.434607
2020-10-25 -1.706535 -0.342896  1.198192 -1.813964
2020-10-26  0.014915  1.278870  0.192643 -1.339917

In [41]:
df.apply(lambda x: x.max() - x.min())

A    2.667537
B    3.099247
C    2.014591
D    1.853403
dtype: float64