<a href="https://colab.research.google.com/github/jeff94069/AI_Security_2020/blob/master/%E5%BE%85%E6%AA%A2%E8%A8%8E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [8]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -0.956211  0.499383  0.106752 -0.566454
2020-10-22  0.466308 -0.097875  1.395880 -1.473315
2020-10-23 -0.972609  1.508496 -0.481884 -0.733617
2020-10-24 -1.022302 -1.031482 -1.236515  0.733660
2020-10-25  0.107275 -1.416483  1.497672  1.229396
2020-10-26 -0.854292  0.171666 -1.273210 -0.313767

In [11]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20201021'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...: 
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2020-10-21 -0.956211  0.499383  0.106752 -0.566454
2020-10-22  0.466308 -0.097875  1.395880 -1.473315
2020-10-23 -0.972609  1.508496 -0.481884 -0.733617
2020-10-24 -1.022302 -1.031482 -1.236515  0.733660
2020-10-25  0.107275 -1.416483  1.497672  1.229396
2020-10-26 -0.854292  0.171666 -1.273210 -0.313767>

In [17]:
df.loc[dates[0]]

A   -0.956211
B    0.499383
C    0.106752
D   -0.566454
Name: 2020-10-21 00:00:00, dtype: float64

https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#minutes-to-pandas

待加強此作業

題目出題作業

變箱圖
浮水印